body{
	background: #f0eff5;
}
li{
	list-style-type: none;
}


.navbar-metronic{
	background: #303840;
}
.sidebar-riqueza{
	background: #f36a5a;
	color: white;
	width: 150px;
	text-align: center;
}
.sidebar-user{
	padding-right: 5px;	
}
.sidebar-user-photo{
	height: 30px;
	width: 38px;
	border-radius: 50%;
	padding-left: 5px;
}
.sidebar-notification{
	width: 100px;
	padding-left: 30px;
}

.sidebar-notification-alert{
	background-color: #ffb357;
	float: right;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	height: 20px;
	width: 20px;
	padding-bottom: 12px;
	color: white;
}
.sidebar-notification-calendar{
	background-color: #00a2b7;
	float: right;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	height: 20px;
	width: 20px;
	padding-bottom: 12px;
	color: white;
}
.sidebar-icon{
	margin: 0px;
}
.sidebar{
	background: white;
	height: 500px;
}
.sidebar-list{
	padding-left: 0px;
}
.sidebar-list li{
	padding: 5px;
	padding-left: 20px;
	margin-top: 15px;
	color: #5e5e5e;
}
.sidebar-list li:hover{
	border-left: 2px solid #02a0b5;
	background-color: #e5f5f7;
}
.sidebar-list-icon{
	padding-left: 0px;
	padding-right: 25px;
	padding-bottom: 5px;

}
.sidebar-divider{
	margin-top: 80px;
}
.sidebar-top-divider{
	padding-top: 15px;
}



.input-content{
	width: 95%;
	margin: 2.5%;
	border: 0px solid;
}
.input-content-effect:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.input-content-effect::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.input-content-effect:-ms-input-placeholder {
  color: #999;
}
.input-content-effect::-webkit-input-placeholder {
  color: #999;
}
.input-content-effect::-ms-expand {
  background-color: transparent;
  border: 0;
}

.input-content-question{
	padding: 35px;
	border: 0px solid;
	width: 100%;
  	border-radius: 0px;
	border-bottom: 1px solid;
}
.input-content-question-para-que{
  	border-bottom-color: #f36a5a;
}
.input-content-question-cuanto{
	border-bottom-color: #00a2b7;

}
.input-content-question-cuando{
	border-bottom-color: #ffb357;
}
.input-content-question-ahorro-diario{
	border-bottom-color: #00cc94;
}
.input-content-question-agregar-amigos{
	border-bottom-color: #ff4868;
}
.input-content-question-foto{
	border-bottom-color: #00a2b7;
}
.btn-agregar{
	background: #00a2b7;
	border-radius: 0px;
}
.btn-agregar-foto{
	padding: 30px;
	color:white;
}

.main-content{
	background: white;
	padding: 30px;
}

.main-content-header{
	padding: 30px;
	padding-bottom: 5px;
	border-bottom: 2px solid #e4e3e7;
}
.main-content-header-text{
	color: #02a0b5;
}

.main-content-bottom{
	padding-bottom: 30px;
	padding-left: 20px;
	height: 30px;
}
.main-content-bottom-btn-continuar{
	border-radius: 0px;
	background: #2f353b;
	color: white;
}
.main-content-bottom-btn-cancelar{
	border-radius: 0px;
	background: #e1e5ec;
	color: #5d5d5d;
}




@media (max-width: 766px){
	.sidebar-riqueza{
		width: 100%;
	}
}









